
@model IEnumerable<TheWorldTrip.Models.Trip>
@{
    ViewBag.Title = "Home Page";
}

@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular-route.min.js"></script>
    <script src="~/js/app-trips.js"></script>
    <script src="~/js/simpleControllers.js"></script>
    <script src="~/js/tripsController.js"></script>
}

<div class="row" ng-app="app-trips">
    
    
    <div ng-view="tripsView"></div>


    <div class="col-md-6">
        <h1>The World</h1>
        <p>This will be a fun website soon!</p>

        <form>
            <div class="form-group">
                <label>Date</label>
                <input class="form-control" />
            </div>
            <div class="form-group">
                <label>Location</label>
                <input class="form-control" />
            </div>
            <div><input type="submit" value="Add" class="btn btn-success" /></div>
        </form>
    </div>

    <div class="col-md-6">
        <h2>The Map</h2>

        <ul>
            @foreach (var item in Model)
            {
                <li>@item.Name : @item.DateCreated.ToString("d")</li>
            }
        </ul>

    </div>

</div>
